/* .text-overlay {
  position: relative;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.font-size {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

.font-name{
  text-transform: capitalize;
  font-weight: bold;
  font-size:4em;
}

.div-img{

  width: 100%;
  margin-left: 3;
  margin-right: 3;
  background-size: cover;
  background-position: center center;
  height: 450px;
  object-fit: cover;
  filter: brightness(0.6);
} */

.mi-div {
  background-color: #eaeaea;
}


.rounded-shadow {
  border-radius: 0.40rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


.div-colorLinear{
  background-color: #eeeeee;
}

.font-family{
  font-family: 'Kanit', sans-serif;
}

.div-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.container-img {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.textXL{
  font-size:x-large;
}

.f-medium{
  font-size: medium;
}
.center{
  text-align: center;
}

.style-personal-img{

  height: 90%;
  width: 80%;
  margin-left: 60px;
  margin-top: 30px;
}

.style-hello{
  color: rgb(4, 0, 255);
}

